.cards {
  margin-top: 51px;
  margin-bottom: 67px;
  font-family: Inter, Arial, sans-serif;
  color: #000000;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-height: 361px;
  max-width: 282px;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like_inactive.jpg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}
