.header {
  margin-top: 45px;
  height: 74px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 420px) {
  .header__logo {
    margin: 0 167px 32px 0;
    width: 126px;
    height: 24px;
  }
}
