.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
  .header {
    max-width: 320px;
    height: 56px;
    width: 100%;
    margin-top: 28px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    /* top: 28px;
    left: 27px;
    padding: 28px 167px 32px 27px; */
    padding-left: 27px;
  }
}
